
.filters {
    background-color: white;
    height:70px;
    width:100%;
    border:1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}

.button:hover {
    opacity: 0.9;
}

.locations:hover .popover {
    display: flex;
    flex-direction: column;
    left: 270px;
    top:23%;
}

.amenities:hover .popover {
    display: flex;
    flex-direction: column;
    left: 560px;
    top:23%;
}

.popover {
    background-color:#FAFAFA;
    display:none;
    width:auto;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    top: 25%;
    list-style:none;
}

.locations .popover {
    width: 16.3%;
}

.amenities .popover {
    width: 20%;
}

.popover ul {
    text-align: left;
    list-style: none;
    padding:0;
}

.popover li h2 {
    font-size: 16px;
    margin-right: 50px;
}

.locations, .amenities {
    height:100%;
    width:25%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 40px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.locations h3 {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: auto;
}

.amenities h3 {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: -80px;
}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 15px;
}

.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: -80px;
}